<section class="full-image-block testimonials-1">
  <div class="image-section-content">
    <h1>One Shared Vision</h1>
    <p>Living the core values of Reign Global</p>
  </div>
</section>
<section class="testimonials-2">
  <header>
    <h2>GET INSPIRED</h2>
    <h4>Success stories of our members</h4>
  </header>
  <div class="row no-gutters">
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image" data-toggle="modal" data-target="#myModal">
        <%= image_tag 'testimonial_1.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>Master in the Art of Living</h4>
        <h5>Henry Chiu</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image">
        <%= image_tag 'testimonial_2.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>Getting It Together</h4>
        <h5>Chua Li Tzuan</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image">
        <%= image_tag 'testimonial_3.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>Treasuring Life's Moments</h4>
        <h5>Ken Ng</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image">
        <%= image_tag 'testimonial_4.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>Living The Core Values</h4>
        <h5>C.O. Enterprise</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image">
        <%= image_tag 'testimonial_5.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>Finding the Right Balance</h4>
        <h5>JJ Thai - Mr Han</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 testimonial">
      <div class="testimonial-image">
        <%= image_tag 'testimonial_6.jpg', alt: 'Testimonial Image' %>
        <div class="overlay">
          <span>READ<br>MORE</span>
        </div>
      </div>
      <div class="testimonial-content">
        <h4>One Shared Vision</h4>
        <h5>Elyon Global Pte Ltd</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->